# yii console command
/yii

# phpstorm project files
.idea

# netbeans project files
nbproject

# zend studio for eclipse project files
.buildpath
.project
.settings

# windows thumbnail cache
Thumbs.db

# composer vendor dir
/vendor

# composer itself is not needed
composer.phar

# Mac DS_Store Files
.DS_Store

# phpunit itself is not needed
phpunit.phar
# local phpunit config
/phpunit.xml

/home/runtime
/backend/runtime
/console/runtime

/common/config/main-local.php
/common/config/params-local.php
/home/config/main-local.php
/home/config/params-local.php
/backend/config/main-local.php
/backend/config/params-local.php

